.topnav {
    background-color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    font-weight: 600;
}
.background {
    background-color: rgb(15,118,186);
    padding-bottom: 2%;
    border-bottom: 1px solid white;
}

.header {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
.title {
    font-weight:400;
    font-size: 300%;
    margin-top: 0%;
}

.titletext {
    font-size:190%;
    margin-top: 0%;
}

.imageblock {
    margin-top: -5%;
}

#download-button {
    margin-top: -10%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:200%;
    font-weight: 600;
    color:#02a9e6;
    background-color: white;
    border:1px solid;
    border-color: #02a9e6;
}

#download-button:hover {
    background-color:#4f4f4f ;
    color:#02a9e6;
    border-color:#02a9e6;
}

.homebtn {
    font-size: 45%;
    color:#7a7a7a;
}

.original, .homebtn:hover {
    color: white;
}
.navigate {
    margin-right: -20%;
}

.vidsection {
    padding-left: 20%;
    padding-right: 20%;
    background-color: #dddddd;
    padding-bottom: 2.5%;
     border-bottom: 1px solid white;
}
.video-container {
    border: 10px solid white;
}
.gametitle {
    font-weight: 400;
    font-size: 45px;
    background-color: white;
    color:rgb(15,118,186);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 28%;
    margin-right: 28%;
    margin-top: 2%;
}

.cardbackground {
    background-color: #4f4f4f;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:600;
    padding-bottom: 3%;
     border-top: 1px solid white;
}

.card {
    background-color: #02a9e6;
    border: 1px solid white;
    margin-top: 5%;
}

.card2 {
    background-color: rgb(15,118,186);
    border: 1px solid white;
}

.bottom-card {
    margin-top: -2.5%;
}
@media screen and (min-width: 900px) {
    .card {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.page-footer {
    background-color: rgb(15,118,186);
    border-top: 1px solid white;
    margin-top:-200%;
}

.formlink {
    margin-top: 10%;
}

.signuplink:hover {
   color:black;
}

.bottombackground {
    background-color: black;
    margin-top:-4%;
    padding-bottom: 4%;
}

.tourncard {
    margin-top: -2.5%;
    margin-left: 18%;
    margin-right: 18%;
    font-family: 'Source Sans Pro', sans-serif;
    color:black;
    font-size:17px;
}
.tourney {
    margin-left:17.5%;
    width:23%;
    height: 200px;
    border:1px solid white;
}
.cardtourn {
    background-color: white;
    color:black;
}
.brand-logo {
    height:100%;
    margin-left: -21%;
}
.tournamenttitle {
    color:rgb(15,118,186);
}
.carddesc, .cardtext {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
.card-content {
    font-size:18px;
}
