@font-face {
    font-family: 'Source Sans Pro', sans-serif;
}
@font-face {
    font-family: Sans Pro Light; /*a name to be used later*/
    src: url(SansProLight.ttf);
}
@font-face {
    font-family: reg; /*a name to be used later*/
    src: url(reg.ttf);
}
.logo {
    margin-top: 7px;
    right: 500px;
}
* {
    border-radius: 0px;
}
.background {
    position:absolute;
    image-rendering: -webkit-optimize-contrast;
    z-index:-1;
    left:0;
    top:0;
    width:100%;
    height:100%; 
    background-color:rgb(15,118,186);
    border-bottom: 15px solid white;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:0px !important; 
    padding-bottom:10px !important;
    height: 60px;
}

.navbar-brand>img {
    height: 100%;
}

.navbar-nav li a {
 line-height: 60px;
}

li {
    padding-left: 0cm;
}
.navbar-wrapper {
    position:fixed; /*fixed navbar position while scrolling*/
}

#col-lg-4 {
    z-index: 1;
    padding: 5px 5px 0px 5px;
    text-align: center;
    font-family: Source Sans Pro;
    color: white;
    background-color:rgb(15,118,186);
    margin-left: 380px;
    margin-right: 380px;
    margin-top:480px; /* this is half the height of your div*/ 
    padding-top: -30px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: white;
    border-radius:10px;
}

.button {
    background-color:white;
    text-align: center;
}

.nounderline{
    text-decoration: none;
    color:white;
    text-align: center;
}

.third {
    font-size: 
}

#col-lg-4:hover {
    z-index: 1; 
    text-align: center;
    padding-right: 5px;
    background-color:#02a9e6;
}

.ftc {
    position: relative;
    right: -400px;
    margin-top: 95px;
    height: auto; 
    width: auto; 
    max-width: 510px; 
    max-height: 510px;
}

#wrap {
    position:relative; 
    top: -255px;
    width: 200px;  
    height: 145px;
    border: 1px solid grey
}

.mah  {
    position: absolute;
    font-size: 40px;
    margin: 0px;
    left: 50%;
    font-family: Source Sans Pro;
    margin-right: -50%;
    margin-top: -300px;
}
.chin   {
    z-index: 1;position: absolute;
    margin-top:150px;
    font-family: reg;
    font-size: 30px;
    color:white;
    text-align: center;
    margin-right: 100px;
    margin-left:80px;
    
}

hr  {
    margin-top: 1000px;
}

#col-lg-4 .first    {
    font-size: 60px; 
}

#col-lg-4 .second    {
    font-size: 23px;
}

.col-md-7   {
    margin-top: 360px;
    font-family: Source Sans Pro;
    color:white;
}

.col-md-push-5 {
    top: -400px;
    color: white;
}



.navbar {
    font-family: Source Sans Pro;
    font-size: 25px;
    background-color:#333333;
    margin-left: 0;
    margin-top: -20px;
    margin-bottom: 0;
    position: relative;
    margin-right: 0px;
    border-radius: 0px !important;
}

.code   {
    position: relative;
    height: auto;
    right: -300px;
    top: 295px;
    height: 150px;
}

.arrow1 {
    position: relative;
    height: auto;
    right: -270px;
    top: 295px;
    height: 150px;
}

.arrow2 {
    position: relative;
    height: auto;
    right: -220px;
    top: 295px;
    height: 150px;
}

.joystick {
    position: relative;
    height: auto;
    right: -220px;
    top: 295px;
    height: 150px;
}

.wrench {
     position: relative;
    height: auto;
    right: -250px;
    top: 295px;
    height: 150px;
}

div#col-lg-4 span#a {
    color:white;
    align-content: center;
    font-size: 30px;
    z-index: 1; position:relative;
    display:inline;
}

div#col-lg-4:hover span#a {
    display:none;
}

div#col-lg-4 span#b {
    display:none;
}

div#col-lg-4:hover span#b {
    text-align: center;
    color:white;   
    font-size: 30px;
    z-index: 1; 
    opacity: 0px;
    position:relative;
    display:inline;
}

.navbar .nav > li > a {
    text-decoration: none;
    color: #7a7a7a;
    left: 560px;
    margin-right: -2px;
    z-index: 1; 
    position:relative;
}
.navbar .nav > li > a:hover{
    color: white;
}

body { 
    position:absolute;
    image-rendering: -webkit-optimize-contrast;
    z-index:0;
    left:0;
    top:0;
    width:100%;
    height:100%; 
    background-color: #333333;
}

#middle {
    color:rgb(15,118,186);
    position: relative;
    right:100px;
    top:-120px;
}

#vid {
    margin: 0;
    margin-top: 660px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:10px solid white;
}

.game {
    
    font-family: reg;
    color:black;
    font-size: 40px;
    margin-top:130px;
    text-align: center;
    background-color: white;
    border: 10px solid white;
    margin-left: 450px;
    margin-right: 450px;
}

 #circle {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: red;
     
    }
.boxed {
    border: 20px solid rgb(15,118,186);
    background-color: rgb(15,118,186);
    color:white;
    font-family: Source Sans Pro;
    font-size: 40px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 120px;
}
.boxedinside {
    background-color: white;
    font-family: Source Sans Pro;
    color:black;
    font-size: 25px;
    border:3px solid rgb(15,118,186);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}
.check {
    position: relative;
    height: auto;
    margin-left: 20px;
    height:35px;
    top:-2px;
}
.tournamenttitle {
     background-color:white;
    border:10px solid white;
    font-family: reg;
    text-align: center;
    color:black;
    margin-left: 340px;
    margin-right: 340px;
    z-index: -1;
    font-size: 40px;
    margin-top: 70px;
}
.trophy {
    position: relative;
    height: 200px;
    width:300px;
    margin-top:-60px;
    border: 10px solid white;
}
.tournament {
    position: relative;
   border:10px solid white;
    height: 200px;
    width:300px;
    margin-left: 560px;
    margin-top:-60px;
}

.tournamenttext {
    text-align: center;
    font-family: reg;
    font-size:22px;
    margin-left: 340px;
    margin-right: 340px;
    margin-top:-130px;
    background-color:white;
    border:10px solid white;
    color:black;
}
.background2 {
    position:absolute;
    image-rendering: -webkit-optimize-contrast;
    z-index:-1;
    left:0;
    top:2180px;
    width:100%;
    height:60%; 
    background-color:rgb(15,118,186);
    border-top:20px solid white;
}

.signuptext {
    text-align: center;
    font-family: reg;
    font-size: 30px;
    color:white;
    margin-top: 80px;
}
.chinese {
    margin-top: 70px;
    z-index: 1;
    padding: 5px 5px 0px 5px;
    padding-right: 0px;
    text-align: center;
    font-family: Source Sans Pro;
    color: white;
    background-color:rgb(15,118,186);
    margin-left: 560px;
    margin-right: 540px;
    padding-top: -20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: white;
    border-radius:10px;
}
.chinese:hover {
z-index: 1; 
    text-align: center;
    padding-right: 5px;
    background-color:#02a9e6;
    padding-right: 0px;
}
div.chinese span#a {
    color:white;
    align-content: center;
    font-size: 30px;
    z-index: 1; position:relative;
    display:inline;
}

div.chinese:hover span#a {
    display:none;
}

div.chinese span#b {
    display:none;
}

div.chinese:hover span#b {
    text-align: center;
    color:white;   
    font-size: 30px;
    z-index: 1; 
    opacity: 0px;
    position:relative;
    display:inline;
}